<template>
    <b-table :data="lists">                 
            <template slot-scope="props">
                <b-table-column v-for="(column, index) in columns"
                    :key="index"
                    :field="column.field"
                    :label="column.label"
                    searchable
                    sortable
                    >
                        {{ props.row[column.field] }}
                </b-table-column>                            
                <b-table-column field="partner.name" label="Asociado" sortable searchable>
                    <template v-if="props.row.partner">
                        {{props.row.partner.name}}
                    </template>    
                </b-table-column>
            </template> 
        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                            icon="emoticon-sad"
                            size="is-large">
                        </b-icon>
                    </p>
                    <p>No hay datos en esta area.</p>
                </div>
            </section>
        </template>                   
    </b-table>    
</template>

<script>
export default {
    props:['columns','lists'],
    data(){

    },
    methods:{

    },
    mounted(){

    }
}
</script>