<template>
    <div>
        <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
        <b-tabs position="is-right" class="block" expanded v-model="mode">
            <b-tab-item label="Listado" icon="list">
                <b-tabs position="is-centered" v-model="statusMode">
                    <b-tab-item label="Revision"></b-tab-item>
                    <b-tab-item label="Aprobado"></b-tab-item>
                    <b-tab-item label="Rechazado"></b-tab-item>
                        <!-- Lista -->
                        <b-table
                                :data="lists"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :pagination-position="paginationPosition"
                                :default-sort-direction="defaultSortDirection"
                                :sort-icon="sortIcon"
                                :sort-icon-size="sortIconSize"
                                default-sort="user.first_name"
                                aria-next-label="Proxima pagina"
                                aria-previous-label="Pagina anterior"
                                aria-page-label="Pagina"
                                aria-current-label="Esta página"
                                v-if="mode == 0"
                            >

                            <template slot-scope="props">
                                <b-table-column field="name" label="Nombre" sortable searchable>
                                    {{ props.row.name }}
                                </b-table-column>
                                <b-table-column field="birthdate" label="Nacimiento" sortable>
                                    {{ props.row.birthdate }}
                                </b-table-column>                
                                <b-table-column field="gender" label="Sexo" sortable>
                                    <span v-if="props.row.gender == 'macho'">Macho</span>
                                    <span v-if="props.row.gender == 'hembra'">Hembra</span>
                                </b-table-column>       
                                <b-table-column field="raza" label="Raza">
                                    {{props.row.raza.name}}
                                </b-table-column>
                                <b-table-column field="dad" label="Padre">
                                    <span v-if="props.row.dad">{{props.row.dad.name}}</span>
                                    
                                </b-table-column>   
                                <b-table-column field="mom" label="Madre" v-if="props.row.mom">
                                    <span v-if="props.row.mom">{{props.row.mom.name}}</span>
                                </b-table-column>                                                                        
                                <b-table-column field="partner.name" label="Asociado" v-if="user.role != 'partner'"  sortable searchable>
                                    <span v-if="props.row.partner">
                                        {{props.row.partner.name}}
                                    </span>
                                </b-table-column>
                                <b-table-column field="partner.predio" label="Predio" v-if="user.role != 'partner'" sortable searchable>
                                    <span v-if="props.row.partner">
                                        {{props.row.partner.predio}}
                                    </span>
                                </b-table-column>
                                <b-table-column field="action" label="">
                                    <b-dropdown aria-role="list">
                                        <button class="button is-primary" slot="trigger">
                                            <span>Acciones</span>
                                            <b-icon icon="menu-down"></b-icon>
                                        </button>
                                        <b-dropdown-item aria-role="listitem" @click="getModalAprobe(props.row.id,'edit')" v-if="statusMode == 1 && props.row.payed == 1 && props.row.completed == 1">Ver detalles</b-dropdown-item>
                                        <b-dropdown-item aria-role="listitem" v-if="statusMode == 1 && props.row.payed == 1 && props.row.completed == 1" target="_blank" :href="'/partners/animals/certificate/'+props.row.id">Ver Certificado</b-dropdown-item>
                                        <!-- <b-dropdown-item aria-role="listitem" v-if="statusMode == 1 && props.row.payed == 0" @click="payModal(props.row.id)">Registrar pago</b-dropdown-item>                                         -->
                                        <b-dropdown-item aria-role="listitem" v-if="user.role != 'partner' && statusMode == 0" @click="getModalAprobe(props.row.id)" :disabled="props.row.status != 'revision'">Aprobar</b-dropdown-item>
                                        <b-dropdown-item aria-role="listitem" v-if="user.role != 'partner' && statusMode == 0" @click="reprobe(props.row.id)" :disabled="props.row.status != 'revision'">Rechazar</b-dropdown-item>
                                        <!-- <b-dropdown-item aria-role="listitem" v-if="user.role == 'partner'" @click="getModalAprobe(props.row,'edit')">
                                            <span v-if="statusMode == 0" >Ver Detalles</span>
                                            <span v-if="statusMode == 1 && props.row.completed == 0">Completar registro</span>
                                            <span v-if="statusMode == 1 && props.row.completed == 1">Ver detalles</span>
                                        </b-dropdown-item> -->
                                        <b-dropdown-item aria-role="listitem" v-if="user.role == 'partner' && statusMode == 0" @click="remove(props.row.id)">Eliminar</b-dropdown-item>
                                    </b-dropdown>
                                </b-table-column>                                                                                                           
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                icon="emoticon-sad"
                                                size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>No hay datos en esta area.</p>
                                    </div>
                                </section>
                            </template>                              
                        </b-table>                     
                </b-tabs>
                  
            </b-tab-item>
            <b-tab-item label="Crear" icon="form" @click="clean()">
                <form @submit.prevent="addOrUpdate()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Nombre</label>
                                <input type="text" class="form-control" v-model="form.name" :disabled="form.id && statusMode != 0">
                                <span v-if="!form.id" :style="verifyRace.verify == true ? 'color:#1abc9c;font-weight:bold;' : 'color:red;'">{{ verifyRace.message }}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Sexo</label>
                                <select name="" class="form-control" v-model="form.gender" id="" :disabled="form.id && statusMode != 0" required>
                                    <option value="">Seleccionar</option>
                                    <option value="macho">Macho</option>
                                    <option value="hembra">Hembra</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Fecha de nacimiento</label>
                                <input class="form-control" type="date" name="" v-model="form.birthdate" id=""  required :disabled="form.id && statusMode != 0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Peso</label>
                                <input class="form-control" type="number" name="" v-model="form.weight" id=""  required :disabled="form.id && statusMode != 0">
                            </div>
                        </div>                    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Tipo de parto</label>
                                <select name="" class="form-control" v-model="form.parto" id=""  required :disabled="form.id && statusMode != 0">
                                    <option value="">Seleccionar</option>
                                    <option value="simple">Simple</option>
                                    <option value="double">Doble</option>
                                    <option value="triple">Triple</option>
                                    <option value="multiple">Multiple</option>
                                </select>
                            </div>
                        </div>                                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Raza</label>
                                <select name="" class="form-control" v-model="form.race_id"   required id="" :disabled="form.id && statusMode != 0">
                                    <option value="">Seleccionar</option>
                                    <option v-for="race in races" :key="race.id" :value="race.id">
                                        {{race.name}}
                                    </option>
                                </select>
                            </div>
                        </div>                                                            
                        <div class="col-md-4">
                            <label class="control-label">Papá</label>
                            <select name="" v-model="form.dad_id" id=""  class="form-control" :disabled="form.id && statusMode != 0">
                                <option value="">Seleccionar</option>
                                <option v-for="dad in dads" :key="dad.id" :value="dad.id">{{dad.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Mamá</label>
                            <select name="" v-model="form.mom_id" id=""  class="form-control" :disabled="form.id && statusMode != 0">
                                <option value="">Seleccionar</option>
                                <option v-for="mom in moms" :key="mom.id" :value="mom.id">{{mom.name}}</option>
                            </select>
                        </div>  
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Tatuaje</label>
                                <input class="form-control" type="text" name=""  required v-model="form.tatto" id="" :disabled="form.id && statusMode != 0">
                            </div>
                        </div>    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Nombre del criador</label>    
                                <input type="text" class="form-control"  required v-model="form.criador">
                            </div>    
                        </div>        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Nombre del propietario</label>    
                                <input type="text" class="form-control"  required v-model="form.property">
                            </div>    
                        </div>       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label">Generación</label>    
                                <!-- <input v-model="form.generation" type="number" class="form-control"> -->
                                <select name="" v-model="form.generation"  required class="form-control" id="">
                                    <option value="">Seleccionar</option>
                                    <option v-for="i in 20" :value="i" :key="i">{{i}}</option>
                                </select>
                            </div>    
                        </div> 
                        <div class="col-md-12">
                            <p class="text-center"><strong>Registrar Pago</strong></p>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Referencia</label>
                                <input type="text" class="form-control" required name="" v-model="form.payment.refer" id="">
                            </div>                              
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Monto</label>
                                <input type="number" class="form-control" required step="0.10" name="" v-model="form.payment.amount" id="">
                            </div>                            
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="control-label">Banco</label>
                                <select name="bank" v-model="form.payment.bank" id="" class="form-control">
                                    <option value="">Seleccionar</option>
                                    <option v-for="bank in banks" :key="bank.id" :value="bank.name">
                                        {{bank.name}}
                                    </option>
                                </select>
                            </div>                            
                        </div>
                        <!-- <div class="col-md-4" v-if="form.id">
                            <div class="form-group">
                                <label for="" class="control-label">Fecha de otorgamiento</label>    
                                <input type="date" v-model="form.otorgamiento"  required name="" id="" class="form-control">
                            </div>    
                        </div>  
                        <div class="col-md-4" v-if="form.id">
                            <div class="form-group">
                                <label for="" class="control-label">Tecnico clasificador</label>    
                                <input type="text" v-model="form.clasificador"  required class="form-control">
                            </div>    
                        </div>  -->
                        <div class="col-md-4" v-if="form.id">
                        </div>                                                                                                                                   
                        <div class="form-group">
                            <button class="btn btn-success" v-if="!form.id" :disabled="!verifyRace.verify">Guardar</button>    
                            <button class="btn btn-warning" v-else>Actualizar</button>    
                        </div>                        
                    </div>                    
                </form>
            </b-tab-item>
        </b-tabs>        
        <!-- Formulario -->       
        <!-- Modal de Pagos -->
        <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Registro de pagos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <payments mode="animal" :id="idPay" />
                    </div>
                </div>
            </div>
        </div>                    
        <!-- Modal Aprobacion de animal -->
        <div class="modal fade" id="modalAprobe" tabindex="-1" role="dialog" aria-labelledby="modalAprobe" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Informacion del animal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" v-if="animalModal">
                            <div class="col-md-4">
                                <label for="" class="control-label">Nombre:</label>
                                <input type="text" :value="animalModal.name" disabled class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label">Nacimiento:</label>
                                <input type="text" :value="animalModal.birthdate" disabled class="form-control">
                            </div>                    
                            <div class="col-md-4">
                                <label for="" class="control-label">Sexo:</label>
                                <input type="text" :value="animalModal.gender" disabled class="form-control">
                            </div>                                    
                            <div class="col-md-4">
                                <label for="" class="control-label">Peso:</label>
                                <input type="text" :value="animalModal.weight" disabled class="form-control">
                            </div>                            
                            <div class="col-md-4">
                                <label for="" class="control-label">Parto:</label>
                                <input type="text" :value="animalModal.parto" disabled class="form-control">
                            </div>                                         
                            <div class="col-md-4" v-if="animalModal.raza">
                                <label for="" class="control-label">Raza:</label>
                                <input type="text" :value="animalModal.raza.name" disabled class="form-control">
                            </div>                                                        
                            <div class="col-md-4" v-if="animalModal.dad">
                                <label for="" class="control-label">Papá:</label>
                                <input type="text" :value="animalModal.dad.name" disabled class="form-control">
                            </div>                                            
                            <div class="col-md-4" v-if="animalModal.mom">
                                <label for="" class="control-label">Mamá:</label>
                                <input type="text" :value="animalModal.mom.name" disabled class="form-control">
                            </div>   
                            <div class="col-md-4">
                                <label for="" class="control-label">Tatuaje</label>    
                                <input type="text" class="form-control" disabled :value="animalModal.tatto">
                            </div>                                  
                            <div class="col-md-4">
                                <label for="" class="control-label">Nombre del criador</label>
                                <input type="text" disabled :value="animalModal.criador" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label">Nombre del propietario</label>
                                <input type="text" disabled :value="animalModal.property" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label">Generacion</label>
                                <input type="text" disabled :value="animalModal.generation" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h3 style="margin-top:5px;padding:10px;text-align:center;background:#f3f3f3;font-weight:bold;">
                                        Información de pagos
                                    </h3>
                                </div>                                   
                            </div>
                            <div class="col-md-4" v-if="animalModal.payment">
                                <label for="" class="control-label">Referencia</label>
                                <input type="text" disabled :value="animalModal.payment[0].refer" class="form-control">
                            </div>                            
                            <div class="col-md-4" v-if="animalModal.payment">
                                <label for="" class="control-label">Monto</label>
                                <input type="text" disabled :value="animalModal.payment[0].amount" class="form-control">
                            </div>                            
                            <div class="col-md-4" v-if="animalModal.payment">
                                <label for="" class="control-label">Banco</label>
                                <input type="text" disabled :value="animalModal.payment[0].bank" class="form-control">
                            </div>                            
                            <div class="col-md-4" v-if="animalModal.partner">
                                <label for="" class="control-label">Asociado:</label>
                                <input type="text" :value="animalModal.partner.name" disabled class="form-control">
                            </div>  
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h3 style="margin-top:5px;padding:10px;text-align:center;background:#f3f3f3;font-weight:bold;">
                                        Datos adicionales
                                    </h3>
                                </div>                                   
                            </div>                                                       
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="control-label">Tecnico Clasificador</label>
                                    <input type="text" v-model="animalModal.clasificador" :disabled="animalModal.mode == 'edit'" class="form-control">
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" v-if="animalModal.mode != 'edit'" class="btn btn-primary" @click="aprobe(animalModal.id)">Aprobar</button>
                    </div>
                </div>
            </div>
        </div>         
    </div>
</template>
<script>
    export default{
        data(){
            return {
                banks:[],
                isLoading:false,
                isPaginated: true,
                isPaginationSimple: false,
                paginationPosition: 'bottom',
                defaultSortDirection: 'asc',
                sortIcon: 'arrow-up',
                sortIconSize: 'is-small',
                currentPage: 1,
                perPage: 10,                
                animalModal:{
                    clasificador:'',
                    mode:''
                },
                lists:[],
                form:{
                    name:'',
                    gender:'',
                    birtdate:'',
                    weight:0,
                    parto:'',
                    dad_id:'',
                    mom_id:'',
                    race_id:'',
                    tatto:'',
                    criador:'',
                    property:'',
                    generation:'',
                    otorgamiento:'',
                    clasificador:'',
                    completed:false,
                    payment:{
                        number:'',
                        refer:'',
                        amount:'',
                        bank:''
                    }
                },
                mode:0,
                statusMode:0,
                races:[],
                dads:[],
                moms:[],
                user:{},
                idPay:0,
                verifyRace:{
                    message:'',
                    verify:false
                },
                modal:{
                    clasificador:''
                }              
            }
        },
        watch:{
            mode:function(val){
                if(val == 0){
                    this.clean()
                    if(this.statusMode == 0){
                        this.getLists('revision');
                    }else if(this.statusMode == 1){
                        this.getLists('aprobado');
                    }else if(this.statusMode == 2){
                        this.getLists('rechazado');
                    }
                }
            },
            statusMode:function(val){
                if(val == 0){
                    this.getLists('revision');
                }else if(val == 1){
                    this.getLists('aprobado');
                }else if(val == 2){
                    this.getLists('rechazado');
                }
            },
            "form.name":function(val){
                // axios.post("/partners/animals/verify",{
                //     name:val
                // })
                // .then(response => {
                //     this.verifyRace = response.data
                // })
                // .catch(err => {
                //     console.log("Error")
                // });      
                var valid = this.names.includes(val)
                if(!valid){
                    this.verifyRace.message = val+" Está disponible"
                    this.verifyRace.verify = true
                }else{
                    this.verifyRace.message = val+" No Está disponible"
                    this.verifyRace.verify = false                    
                }
            }            
        },
        methods:{
            getBanks(){
                axios.get('/resources/banks')
                .then(response => {
                    this.banks = response.data;
                })
                .catch(err => {
                    alert("No se puede listar los bancos")
                })
            },            
            getNames(){
                axios.get('/partners/animals/names')
                .then(response => {
                    this.names = response.data
                })
            },
            getPdf(id){
                location.href = '/partners/animals/certificate/'+id
            },
            payModal(id){
                $('#payModal').modal('toggle');
                this.idPay = id;
            },
            getModalAprobe(id,mode){
                this.isLoading = true
                axios.get('/partners/animals/'+id+'/edit')
                .then(res => {
                    this.isLoading = false;
                    this.animalModal = res.data
                    this.animalModal.mode = mode
                    $('#modalAprobe').modal('toggle');
                })
            },
            aprobe(id){
                this.$swal.fire({
                    title: '¿Estas seguro?',
                    text: "Una vez apruebes a este animal, no habrá vuelta atrás",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, aprobar!'
                }).then((result) => {
                    if(!this.animalModal.clasificador){
                        this.$swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'No ingresaste el tecnico clasificador',
                        }); 
                    }
                    if (result.value && this.animalModal.clasificador) {
                        this.isLoading = true;
                        axios.post('/superAdmin/animals/'+id+'/aprobado',{clasificador:this.animalModal.clasificador})
                        .then(response => {
                            this.isLoading = false;
                            this.statusMode = 1
                            $('#modalAprobe').modal('toggle');
                            this.$swal({
                                type: 'success',
                                title: 'Animal aprobado con exito',
                            });                     
                        })
                        .catch(err => {
                            this.$swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                            }); 
                        })
                    }
                })
            },
            reprobe(id){
                this.$swal.fire({
                    title: '¿Estas seguro?',
                    text: "Una vez rechaces a este animal, no habrá vuelta atrás",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, Rechazar!'
                }).then((result) => {
                    if (result.value) {
                        this.isLoading = true;
                        axios.get('/superAdmin/animals/'+id+'/rechazado')
                        .then(response => {
                            this.isLoading = false;
                            this.statusMode = 2
                            this.$swal({
                                type: 'success',
                                title: 'Animal rechazado con exito',
                            });                     
                        })
                        .catch(err => {
                            this.$swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                            }); 
                        })
                    }
                })
            },
            clean(){
                this.mode = 0
                this.form.name = ''
                this.form.gender = ''
                this.form.birthdate = ''
                this.form.weight = ''
                this.form.parto = ''
                this.form.dad_id = ''
                this.form.mom_id = ''
                this.form.race_id = ''
                this.form.tatto = ''
                this.criador = '',
                this.property = '',
                this.generation = '',
                this.otorgamiento = '',
                this.clasificador = '',
                this.completed = false
                this.form.id = null
            },
            getLists(status){
                this.isLoading = true
                axios.get('/partners/animals/get/'+status)
                .then(response => {
                    this.isLoading = false
                    this.lists = response.data;
                })
                .catch(err => {
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                    });                    
                })
            },
            getEdit(list){
                console.log(list)
                this.form.payment = list.payment[0]
                this.form = list;
                this.mode = 1;
            },
            addOrUpdate(){
                this.isLoading = true
                if(this.form.id){
                    axios.put('/partners/animals/'+this.form.id,{
                        criador:this.form.criador,
                        property:this.form.property,
                        generation:this.form.generation,
                        otorgamiento:this.form.otorgamiento,
                        completed:true,
                        clasificador:this.form.clasificador
                    })
                    .then(response => {
                        this.isLoading = false;
                        this.clean();
                        this.statusMode = 1
                        this.getLists('aprobado');
                        this.$swal({
                            type: 'success',
                            title: 'Animal actualizado con exito',
                        });                              
                    })
                    .catch(err => {
                        this.$swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                        });                         
                    })
                }else{
                    axios.post('/partners/animals',this.form)
                    .then(response => {
                        this.isLoading = false;
                        this.clean();
                        this.statusMode = 0
                        this.getLists('revision');
                        this.$swal({
                            type: 'success',
                            title: 'Animal guardado con exito',
                        });                              
                    })
                    .catch(err => {
                        this.$swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                        });                         
                    })
                }
            },  
            remove(id){
                this.$swal.fire({
                    title: '¿Estas seguro?',
                    text: "Una vez elimines esta animal, no habrá vuelta atrás",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminar!'
                }).then((result) => {
                    if (result.value) {
                        this.isLoading = true
                        axios.delete('/partners/animals/'+id)
                        .then(response => {
                            this.isLoading = false;
                            this.getLists('revision');
                            this.$swal({
                                type: 'success',
                                title: 'Animal eliminada con exito',
                            });                     
                        })
                        .catch(err => {
                            this.$swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                            }); 
                        })
                    }
                })                
            },
            getRaces(){
                axios.get('/resources/races')
                .then(response => {
                    this.races = response.data;
                })
                .catch(err => {
                    alert("No se puede consultar las razas")
                })
            },
            getFathers(){
                axios.get('/resources/fathers/macho')
                .then(response => {
                    this.dads = response.data
                })
                .catch(err => {
                    alert('error en la consulta de datos de los padres')
                })
                axios.get('/resources/fathers/hembra')
                .then(response => {
                    this.moms = response.data
                })
                .catch(err => {
                    alert('error en la consulta de datos de las madres')
                })                
            },
            getAuth(){
                axios.get('/resources/auth')
                .then(response => {
                    this.user = response.data
                })
                .catch(err => {
                    alert("Error con el auth")
                })
            }
        },
        mounted(){
            console.log(this.user)
            this.getLists('revision');
            this.getRaces();
            this.getFathers();
            this.getAuth();
            this.getNames();
            this.getBanks();
        }
    }
</script>