// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fafafa!important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    color: #fff;
}

.b-yellow {
    border-bottom: 4px solid #f7df07;
}

.b-blue {
    border-bottom: 5px solid #000e88;
}

.b-red {
    border-bottom: 4px solid #be0505;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
}

// If you don't need the styles, do not connect
@import '~sweetalert2/dist/sweetalert2.min.css';
// style.scss
@import '~sweetalert2/src/variables';
$swal2-background: #f2f3f3;
@import '~sweetalert2/src/sweetalert2';