<template>
    <div>
        <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
        <form @submit.prevent="addOrUpdate()">
            <div class="form-group">
                <label for="" class="control-label">Nombre</label>
                <input type="text" v-model="form.name" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="control-label">Correo electronico</label>
                <input type="text" class="form-control" v-model="form.email">
            </div>
            <div class="form-group" v-if="!form.id">
                <label for="" class="control-label">Contraseña</label>
                <input type="password" name="" v-model="form.password" class="form-control" id="">
            </div>
            <div class="form-group">
                <label for="" class="control-label">Rol</label>
                <input type="text" disabled value="Administrador" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-success">Guardar</button>
                
            </div>
        </form>

    </div>
    
    
</template>

<script>
export default {
    props:['formProps','mode','cleanComponent'],
    data(){
        return{
            form:{
                name:'',
                email:'',
                password:'',
                role:'admin'
            },
            isLoading:false
        }
    },
    watch:{
        formProps:function(val){
            this.form = this.formProps
        },
        cleanComponent:function(val){
            self = this
            setTimeout(function(){
                self.clean()
            }, 2000);            
        }
    },
    methods:{
        changeMode(){
            this.$emit('get-users')
        },
        clean(){
            this.form.id = null
        },
        addOrUpdate(){
            if(this.form.id){
                axios.put('/superAdmin/users/'+this.form.id,this.form)
                .then(response => {
                    this.isLoading = false
                    
                    this.$swal({
                        type: 'success',
                        title: 'Usuario creado con exito',
                    });
                    this.$emit('get-users')
                })
                .catch(err => {
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                    });         
                })
            }else{
                axios.post('/superAdmin/users',this.form)
                .then(response => {
                    this.isLoading = false
                    this.$swal({
                        type: 'success',
                        title: 'Usuario creado con exito',
                    });
                    this.$emit('get-users')
                })
                .catch(err => {
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                    });         
                })
            }
        }
    },
    mounted(){
        this.clean();
    }
}
</script>