<template>
    <section>
        <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true"></b-loading>
        <b-tabs position="is-right" class="block" expanded v-model="father">
            <b-tab-item label="Listado">
                <b-tabs position="is-centered" class="block" v-model="mode">
                    <b-tab-item label="Pendiente por aprobar"></b-tab-item>
                    <b-tab-item label="Aprobados"></b-tab-item>
                    <b-tab-item label="Administradores"></b-tab-item>
                    <b-table 
                            :data="lists"
                            :striped="true"
                            :paginated="isPaginated"
                            :per-page="perPage"
                            :current-page.sync="currentPage"
                            :pagination-simple="isPaginationSimple"
                            :pagination-position="paginationPosition"
                            :default-sort-direction="defaultSortDirection"
                            :sort-icon="sortIcon"
                            :sort-icon-size="sortIconSize"
                            default-sort="user.first_name"
                            aria-next-label="Proxima pagina"
                            aria-previous-label="Pagina anterior"
                            aria-page-label="Pagina"
                            aria-current-label="Esta página">                    
                        <template slot-scope="props">
                            <b-table-column field="name" label="Nombre" searchable>
                                {{ props.row.name }}
                            </b-table-column>    
                            <b-table-column field="Email" label="Email" searchable>
                                {{ props.row.email }}
                            </b-table-column>  
                            <b-table-column field="nomenclature"  label="Nomenclatura" searchable>
                                <span v-if="mode == 2"><strong>No asignada</strong></span>
                                <span v-else>{{ props.row.nomenclature }}</span>
                            </b-table-column>     
                            <b-table-column field="company" label="Compañia" searchable>
                                {{ props.row.company }}
                            </b-table-column>                
                            <b-table-column field="predio" label="Predio" searchable>
                                {{ props.row.predio }}
                            </b-table-column>                                               
                            <b-table-column field="action" label="">
                                <b-dropdown aria-role="list">
                                    <button class="button is-primary" slot="trigger">
                                        <span>Acciones</span>
                                        <b-icon icon="menu-down"></b-icon>
                                    </button>
                                    <b-dropdown-item aria-role="listitem" @click="showModal(props.row)">Ver informacion de usuario</b-dropdown-item>
                                    <b-dropdown-item aria-role="listitem" @click="getEdit(props.row)">Editar Administrador</b-dropdown-item>
                                    <!-- <b-dropdown-item aria-role="listitem" v-if="props.row.role == 'partner' && mode != 2" @click="changeUserRole('admin',props.row.id)">Cambiar a administrador</b-dropdown-item>
                                    <b-dropdown-item aria-role="listitem" v-if="props.row.role == 'admin' && mode != 2" @click="changeUserRole('partner',props.row.id)">Cambiar a Asociado</b-dropdown-item> -->
                                    <b-dropdown-item aria-role="listitem" v-if="mode == 0" @click="aprobeModal(props.row)">Aprobar</b-dropdown-item>
                                    <b-dropdown-item aria-role="listitem" v-if="mode == 0" @click="reprobe(props.row.id)">Rechazar</b-dropdown-item>                            
                                </b-dropdown>
                            </b-table-column>                
                        </template>   
                                    <template slot="empty">
                                        <section class="section">
                                            <div class="content has-text-grey has-text-centered">
                                                <p>
                                                    <b-icon
                                                        icon="emoticon-sad"
                                                        size="is-large">
                                                    </b-icon>
                                                </p>
                                                <p>No hay datos en esta area.</p>
                                            </div>
                                        </section>
                                    </template>                    
                    </b-table>
                </b-tabs>                
            </b-tab-item>
            <b-tab-item label="Crear">
                <addorupdate @get-users="updateUsers('admin','null')" :cleanComponent="cleanComponent" :mode="mode" :formProps="formProps"></addorupdate>
            </b-tab-item>
        </b-tabs>
   
        <!-- Modal -->
        <show-user-modal :user="user"></show-user-modal>
        <div class="modal fade" id="modalAprobe" tabindex="-1" role="dialog" aria-labelledby="modalAprobe" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{info.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="" class="control-label">Nomenclatura</label>
                            <select name="" :disabled="nomenclatureDiferent" id="" class="form-control" v-model="nomenclature">
                                <option value="">Seleccionar</option>
                                <option :value="info.nomenclatureSuggest1">{{info.nomenclatureSuggest1}}</option>
                                <option :value="info.nomenclatureSuggest2">{{info.nomenclatureSuggest2}}</option>
                                <option :value="info.nomenclatureSuggest3">{{info.nomenclatureSuggest3}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <b-checkbox v-model="nomenclatureDiferent"></b-checkbox> <label for="" class="control-label">Nomenclatura diferente</label>
                            <input type="text" maxlength="4" class="form-control" :disabled="!nomenclatureDiferent" v-model="nomenclature">
                        </div>
                        <div class="form-group">
                            <h3 style="padding:10px;text-align:center;background:#f3f3f3;font-weight:bold;">
                                Pago registrado
                            </h3>
                        </div>                 
                        <div v-if="info.payment[0]">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="control-label">Referencia</label>
                                        <input type="text" name="refer" class="form-control" disabled :value="info.payment[0].refer">
                                    </div>                                        
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="control-label">Monto</label>
                                        <input type="number" disabled :value="info.payment[0].amount" name="amount" step="0.10" class="form-control">
                                    </div>                                     
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label">Banco</label>
                                <input type="text" disabled :value="info.payment[0].bank" class="form-control">
                            </div>
                        </div>                               
                        <div class="form-group">
                            <span style="color:#1abc9c;font-weight:bold;" v-if="isValid.status">{{isValid.message}}</span>
                            <li v-else style="color:red;" v-for="err in isValid.errors" :key="err">{{err}}</li>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="validNomenclature()">Validar</button>
                        <button type="button" class="btn btn-primary" @click="aprobe()" :disabled="!isValid.status">Aprobar</button>
                    </div>
                </div>
            </div>
        </div>         
    </section>
</template>

<script>
import showUserModal from './ShowModal'
import addorupdate from './AddOrUpdate'
export default {
    components:{
        showUserModal:showUserModal,
        addorupdate:addorupdate
    },
    data(){
        return{
            cleanComponent:0,
            formProps:{},
            father:0,
            isPaginated: true,
            isPaginationSimple: false,
            paginationPosition: 'bottom',
            defaultSortDirection: 'asc',
            sortIcon: 'arrow-up',
            sortIconSize: 'is-small',
            currentPage: 1,
            perPage: 5,            
            mode:0,
            isLoading:false,
            lists:[],
            info:{
                name:'',
                nomenclatureSuggest1:'',
                nomenclatureSuggest2:'',
                nomenclatureSuggest3:'',
                payment:{
                    refer:'',
                    bank:'',
                    amount:''
                }
            },
            nomenclature:'',
            nomenclatureDiferent:false,
            isValid:{
                status:false,
                message:'',
                errors:[]
            },
            user:{}
        }
    },
    watch:{
        mode:function(val){
            if(this.mode == 0){
                this.getUsersByRole('partner','reprobe')
                
            }else if(this.mode == 1){
                this.getUsersByRole('partner','aprobe');
                // this.getUsersByRole('admin','aprobe');
            }else if(this.mode == 2){
                this.getUsersByRole('admin','aprobe');
            }
        },
        father:function(val){
            console.log("Estoy aqui")
        }
    },
    methods:{
        updateUsers(role,status){
            this.mode = 2
            this.father = 0
            this.cleanComponent++
        },
        getEdit(form){
            this.formProps = form
            this.father = 1
        },
        validNomenclature(){
            axios.post('/superAdmin/users/nomenclatures/valid',{nomenclature:this.nomenclature})
            .then(response => {
                this.isValid.status = true
                this.isValid.message = response.data+" Es una nomenclatura correcta"
            })
            .catch(err => {
                console.log(err.response.data)
                this.isValid.status = false
                this.isValid.errors = err.response.data.errors.nomenclature
            });
        },
        changeUserRole(role,id){
            this.isLoading = true
            axios.put('/superAdmin/users/'+id,{
                role:role
            })
            .then(response => {
                this.isLoading = false
                if(this.mode){
                    this.mode = 0;
                }else{
                    this.mode = 1;
                }
            })
            .catch(err => {
                alert("Hay un error cambiando el rol")
            })
        },
        getUsersByRole(role,status){
            this.isLoading = true
            axios.get('/superAdmin/users/get/'+role+'/'+status)
            .then(response => {
                this.lists = response.data
                this.isLoading = false;
            })
            .catch(err => {
                console.log(err)
            })
        },
        aprobeModal(info){
            console.log(info)
            $('#modalAprobe').modal('toggle');
            this.info = info
            this.nomenclature = ''
            this.isValid.status = false
            this.isValid.message = ""
            this.isValid.errors = []
        },
        aprobe(){
            this.$swal.fire({
            title: '¿Estás seguro?',
            text: "Una vez apruebes esta membresia, no habrá vuelta atrás",
            type: 'warning',
            showCancelButton: true,
                confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, aprobar!'
            }).then((result) => {
                if (result.value) {
                    axios.post('/superAdmin/users/aprobe',{
                        id:this.info.id,
                        nomenclature:this.nomenclature
                    })
                    .then(response => {
                        this.$swal.fire(
                            'Membresia aprobada!',
                            'Un correo de bienvenida fue enviado a este usuario',
                            'success'
                        )
                        this.mode = 1;
                        $('#modalAprobe').modal('toggle');
                    })
                    .catch(err => {
                        this.$swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                        });                            
                    })
                }
            })
        },
        reprobe(id){
            this.$swal.fire({
            title: 'Estas seguro?',
            text: "Una vez rechaces esta membresia, no habrá vuelta atrás",
            type: 'warning',
            showCancelButton: true,
                confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, rechazar!'
            }).then((result) => {
                if (result.value) {
                    axios.get('/superAdmin/users/reprobe/'+id)
                    .then(response => {
                        this.$swal.fire(
                            'Membresia rechazada con exito!',
                            'El usuario fue notificado de esta decision',
                            'success'
                        )
                        this.getUsersByRole('partner','reprobe')

                    })
                    .catch(err => {
                        this.$swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                        });                            
                    })
                }
            })
        },
        showModal(user){
            this.user = user
            $('#modal').modal('toggle');
        }
    },
    mounted(){
        this.getUsersByRole('partner','reprobe')
    }
}
</script>