<template>
            <!-- Modal Ver usuario -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Informacion del usuario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Nombre</label>
                                        <input type="text" disabled class="form-control" v-model="user.name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="control-label">Identificacion</label>
                                        <input type="text" disabled class="form-control" v-model="user.identification">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="control-label">Email</label>
                                        <input type="text" disabled class="form-control" v-model="user.email">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="control-label">Nomenclatura</label>
                                    <input type="text" disabled class="form-control" v-model="user.nomenclature">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="control label">Telefono</label>
                                    <input type="text" disabled class="form-control" v-model="user.phone">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="control-label">Compañia</label>
                                    <input type="text" disabled class="form-control" v-model="user.company">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="control-label">Predio</label>
                                    <input type="text" disabled class="form-control" v-model="user.predio">
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="control-label">Estado</label>
                                        <select name="" disabled id="" class="form-control" v-model="user.state_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="state in states" :key="state.id" :value="state.id">
                                                {{state.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="control-label">Municipio</label>
                                        <select name="" disabled id="" class="form-control" v-model="user.town_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="town in towns" :key="town.id" :value="town.id">
                                                {{town.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="control-label">Ciudad</label>
                                        <input type="text" disabled v-model="user.city" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="control-label">Codigo postal</label>
                                        <input type="number" disabled v-model="user.zip" class="form-control">
                                    </div>            
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="" class="control-label">Direccion</label>
                                        <textarea name="" disabled v-model="user.address" id="" cols="30" rows="10" class="form-control"></textarea>
                                    </div>                                
                                </div>

                            </div>



                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>     

</template>
<script>
export default {
    props:['user'],
    data(){
        return{
            states:[],
            towns:[]
        }
    },
    watch:{
        user:function(val){
            this.getResource('state');
        },
        "user.state_id":function(val){
            this.getResource('town',val);
        }
    },
    methods:{
        showModal(user){
            $('#modalShowUser').toggle('modal');
        },
        getResource(mode,id){
            if(mode == 'state'){
                axios.get('/resources/states')
                .then(response => {
                    this.states = response.data;
                })
                .catch(err => {
                    alert("No se pueden cargar los estados")
                })
            }else if(mode == 'town'){
                axios.get('/resources/towns/'+id)
                .then(response => {
                    this.towns = response.data;
                })
                .catch(err => {
                    alert("No se pueden cargar los estados")
                })
            }

        }
    },
    mounted(){
        console.log("Estamos por acá")
    }
}
</script>