<template>
    <section>
        <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true"></b-loading>
        <form @submit.prevent="store()">
            <div class="form-group">
                <label for="" class="control-label">Referencia</label>
                <input type="text" class="form-control" name="" required v-model="form.refer" id="">
            </div>            
            <div class="form-group">
                <label for="" class="control-label">Monto</label>
                <input type="number" class="form-control" step="0.10" required name="" v-model="form.amount" id="">
            </div>
            <div class="form-group">
                <label for="" class="control-label">Banco</label>
                <select name="bank" v-model="form.bank" id="" class="form-control" required>
                    <option value="">Seleccionar</option>
                    <option v-for="bank in banks" :key="bank.id" :value="bank.name">
                        {{bank.name}}
                    </option>
                </select>
            </div>   
            <div class="form-group">
                <button class="btn btn-success">
                    Registrar
                </button>
            </div>       
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Estatus</th>
                    <th>Referencia</th>
                    <th>Monto</th>
                    <th>Banco</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="payment in payments" :key="payment.id">
                    <td v-if="payment.status == 'aprobe'">
                        <span style="color:green;"><i class="fa fa-circle"></i></span> Aprobado
                    </td>
                    <td v-else-if="payment.status == 'reprobe'">
                        <span style="color:red;"><i class="fa fa-circle"></i></span> Rechazado
                    </td>
                    <td v-else>
                        <span style="color:yellow;"><i class="fa fa-circle"></i></span> En revision
                    </td>
                    <td>{{payment.refer}}</td>
                    <td>{{payment.amount}}</td>
                    <td>{{payment.bank}}</td>
                    <td>
                        <button class="btn btn-danger" @click="remove(payment.id)" :disabled="payment.status == 'aprobe' || payment.status == 'reprobe'">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>

<script>
export default {
    data(){
        return{
            form:{
                refer:'',
                amount:0,
                bank:'',
                object_id:0,
                mode:''
            },
            banks:[],
            payments:[],
            getStyleByStatus(status){
                if(status == 'aprobe'){
                    return 'background:#57ee70;'
                }else if(status == 'reprobe'){
                    return 'background:#e92727;'
                }else{
                    return null;
                }
            },
            isLoading:false
        }
    },
    props:['mode','id'],
    watch:{
        mode:function(val){
            this.getPayments()
        },
        id:function(val){
            this.getPayments()
        }
    },
    methods:{
        clean(){
            this.form.number = 0
            this.form.refer = ''
            this.form.amount = 0
            this.form.bank = ''
        },
        getBanks(){
            axios.get('/resources/banks')
            .then(response => {
                this.banks = response.data;
            })
            .catch(err => {
                alert("No se puede listar los bancos")
            })
        },
        getPayments(){
            axios.get('/payments/get/'+this.mode+'/'+this.id)
            .then(response => {
                this.payments = response.data;
            })
            .catch(err => {
                alert("No se pueden consultar los datos");
            })
        },
        store(){
            this.form.object_id = this.id
            this.form.mode = this.mode
            this.isLoading = true
            axios.post('/payments',this.form)
            .then(response => {
                this.isLoading = false
                this.getPayments()
                this.clean();
                this.$swal({
                    type: 'success',
                    title: 'Pago registrado con exito',
                });   
            })
            .catch(err => {
                alert("No se puede guardar el pago")
                this.isLoading = false
            })
        },
        remove(id){
            axios.delete('/payments/'+id)
            .then(response => {
                this.getPayments();
                this.$swal({
                    type: 'success',
                    title: 'Pago eliminado con exito',
                });                  
            })
            .catch(err => {
                alert("No se puede eliminar el pago");
            });
        }
    },
    mounted(){
        this.getPayments();
        this.getBanks()
    }
}
</script>

<style lang="scss">
    .body{
        background:#e92727;
    }
</style>