<template>
    <div>
        <b-table
            :data="data"
            :paginated="isPaginated"
            :per-page="perPage"
            :current-page.sync="currentPage"
            :pagination-simple="isPaginationSimple"
            :pagination-position="paginationPosition"
            :default-sort-direction="defaultSortDirection"
            :sort-icon="sortIcon"
            :sort-icon-size="sortIconSize"
            default-sort="user.first_name"
            aria-next-label="Proxima pagina"
            aria-previous-label="Pagina anterior"
            aria-page-label="Pagina"
            aria-current-label="Esta página">

            <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40" sortable numeric>
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="name" label="Nombres" sortable>
                    {{ props.row.name }}
                </b-table-column>
                <b-table-column field="identification" label="Cedula" sortable>
                    {{ props.row.identification }}
                </b-table-column>                
                <b-table-column field="company" label="Compañia" sortable>
                    {{ props.row.company }}
                </b-table-column>       
                <b-table-column field="predio" label="Predio" sortable>
                    {{ props.row.predio }}
                </b-table-column>     
                <b-table-column field="phone" label="Telefono" sortable>
                    {{ props.row.phone }}
                </b-table-column>                            
                <b-table-column field="email" label="Email" sortable>
                    {{ props.row.email }}
                </b-table-column>   
                <b-table-column field="action" label="">
                    <b-dropdown aria-role="list">
                        <button class="button is-primary" slot="trigger">
                            <span>Acciones</span>
                            <b-icon icon="menu-down"></b-icon>
                        </button>

                        <b-dropdown-item aria-role="listitem" @click="aprobeModal(props.row)">Aprobar</b-dropdown-item>
                        <b-dropdown-item aria-role="listitem" @click="reprobe(props.row.id)">Rechazar</b-dropdown-item>
                    </b-dropdown>
                </b-table-column>                                                                                                           
            </template>
        </b-table>      
        
        <!-- Modal -->
        <div class="modal fade" id="modalAprobe" tabindex="-1" role="dialog" aria-labelledby="modalAprobe" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{info.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="" class="control-label">Nomenclatura</label>
                            <select name="" :disabled="nomenclatureDiferent" id="" class="form-control" v-model="nomenclature">
                                <option value="">Seleccionar</option>
                                <option :value="info.nomenclatureSuggest1">{{info.nomenclatureSuggest1}}</option>
                                <option :value="info.nomenclatureSuggest2">{{info.nomenclatureSuggest2}}</option>
                                <option :value="info.nomenclatureSuggest3">{{info.nomenclatureSuggest3}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <b-checkbox v-model="nomenclatureDiferent"></b-checkbox> <label for="" class="control-label">Nomenclatura diferente</label>
                            <input type="text" class="form-control" :disabled="!nomenclatureDiferent" v-model="nomenclature">
                        </div>
                        <div class="form-group">
                            <span style="color:#1abc9c;font-weight:bold;" v-if="isValid.status">{{isValid.message}}</span>
                            <li v-else style="color:red;" v-for="err in isValid.errors" :key="err">{{err}}</li>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="aprobe()" :disabled="!isValid.status">Aprobar</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</template>

<script>
    export default{
        data(){
            return{
                data:[],
                isPaginated: true,
                isPaginationSimple: false,
                paginationPosition: 'bottom',
                defaultSortDirection: 'asc',
                sortIcon: 'arrow-up',
                sortIconSize: 'is-small',
                currentPage: 1,
                perPage: 5,
                info:{
                    name:'',
                    nomenclatureSuggest1:'',
                    nomenclatureSuggest2:'',
                    nomenclatureSuggest3:''
                },
                nomenclature:'',
                nomenclatureDiferent:false,
                isValid:{
                    status:false,
                    message:'',
                    errors:[]
                }
            }
        },
        watch:{
            nomenclature:function(value){
                axios.post('/superAdmin/users/nomenclatures/valid',{nomenclature:value})
                .then(response => {
                    this.isValid.status = true
                    this.isValid.message = response.data+" Es una nomenclatura correcta"
                })
                .catch(err => {
                    console.log(err.response.data)
                    this.isValid.status = false
                    this.isValid.errors = err.response.data.errors.nomenclature
                });
            }
        },
        methods:{
            getUsersNotAprobe(){
                axios.get('/superAdmin/users/get/partner/reprobe')
                .then(response => {
                    this.data = response.data;
                    
                })
                .catch(err => {
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                    });
                });
            },
            aprobeModal(info){
                console.log(info)
                $('#modalAprobe').modal('toggle');
                this.info = info
            },
            aprobe(){
                this.$swal.fire({
                title: '¿Estás seguro?',
                text: "Una vez apruebes esta membresia, no habrá vuelta atrás",
                type: 'warning',
                showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, aprobar!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/superAdmin/users/aprobe',{
                            id:this.info.id,
                            nomenclature:this.nomenclature
                        })
                        .then(response => {
                            this.$swal.fire(
                                'Membresia aprobada!',
                                'Un correo de bienvenida fue enviado a este usuario',
                                'success'
                            )
                            this.getUsersNotAprobe();
                            $('#modalAprobe').modal('toggle');
                        })
                        .catch(err => {
                            this.$swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                            });                            
                        })
                    }
                })
            },
            reprobe(id){
                this.$swal.fire({
                title: 'Estas seguro?',
                text: "Una vez rechaces esta membresia, no habrá vuelta atrás",
                type: 'warning',
                showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, rechazar!'
                }).then((result) => {
                    if (result.value) {
                        axios.get('/superAdmin/users/reprobe/'+id)
                        .then(response => {
                            this.$swal.fire(
                                'Membresia rechazada con exito!',
                                'El usuario fue notificado de esta decision',
                                'success'
                            )
                            this.getUsersNotAprobe();
                        })
                        .catch(err => {
                            this.$swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                            });                            
                        })
                    }
                })
            }
        },
        mounted(){
            this.getUsersNotAprobe();
            console.log(this.data)
        }
    }
</script>

<style lang="scss">
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 35;
        width: 100vw;
        height: 100vh;
        background-color: #000;
    }
</style>