<template>
    <section>
        <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true"></b-loading>
        <b-tabs position="is-centered" class="block" v-model="father">
            <b-tab-item label="Asociados"></b-tab-item>
            <b-tab-item label="Animales"></b-tab-item>
            <b-tab-item label="Solicitud del modulo de animales"></b-tab-item>
            <b-tabs position="is-centered" class="block" v-model="mode">
                <b-tab-item v-if="father >= 1" label="Pendientes"></b-tab-item>  
                <b-tab-item label="Aprobados"></b-tab-item>
                <b-tab-item label="Rechazados"></b-tab-item>
                <b-table :data="lists" v-if="father == 0">                 
                        <template slot-scope="props">
                            <b-table-column v-for="(column, index) in getColumms()"
                                :key="index"
                                :field="column.field"
                                :label="column.label"
                                searchable
                                sortable
                                >
                                    {{ props.row[column.field] }}
                            </b-table-column>                            
                            <b-table-column field="partner.name" label="Asociado" sortable searchable>
                                <template v-if="props.row.partner">
                                    {{props.row.partner.name}}
                                </template>    
                                <template v-else>
                                    <span v-if="props.row.animal">
                                        {{props.row.animal.partner.name}}
                                    </span>
                                    
                                </template>
                            </b-table-column>
                                    
                            <!-- <b-table-column field="mode" label="Tipo">
                                <span class="badge badge-success" v-if="props.row.user_id">Membresia</span>
                                <span class="badge badge-success" v-if="props.row.animal_id">Animal</span>
                            </b-table-column>                                                                                                                       -->              
                        </template> 
                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon
                                        icon="emoticon-sad"
                                        size="is-large">
                                    </b-icon>
                                </p>
                                <p>No hay datos en esta area.</p>
                            </div>
                        </section>
                    </template>                   
                </b-table>  
                <b-table :data="lists" v-if="father == 1">                 
                        <template slot-scope="props">
                            <b-table-column v-for="(column, index) in getColumms()"
                                :key="index"
                                :field="column.field"
                                :label="column.label"
                                searchable
                                sortable
                                >
                                    {{ props.row[column.field] }}
                            </b-table-column>    
                            <b-table-column field="animal.name" label="Animal" sortable searchable>
                                <template v-if="props.row.animal">
                                    {{props.row.animal.name}}
                                </template>    
                            </b-table-column>                         
                            <b-table-column field="animal.partner.name" label="Asociado" sortable searchable>
                                    <span v-if="props.row.animal.partner">
                                        {{props.row.animal.partner.name}}
                                    </span>
                            </b-table-column>
                        </template> 
                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon
                                        icon="emoticon-sad"
                                        size="is-large">
                                    </b-icon>
                                </p>
                                <p>No hay datos en esta area.</p>
                            </div>
                        </section>
                    </template>                   
                </b-table>        
                <b-table :data="lists" v-if="father == 2">                 
                        <template slot-scope="props">
                            <b-table-column v-for="(column, index) in getColumms()"
                                :key="index"
                                :field="column.field"
                                :label="column.label"
                                searchable
                                sortable
                                >
                                    {{ props.row[column.field] }}
                            </b-table-column>                   
                            <b-table-column field="partner.name" label="Asociado" sortable searchable>
                                    <span v-if="props.row.partner">
                                        {{props.row.partner.name}}
                                    </span>
                            </b-table-column>
                            <b-table-column label="">
                                <b-dropdown aria-role="list">
                                    <button class="button is-primary" slot="trigger">
                                        <span>Acciones</span>
                                        <b-icon icon="menu-down"></b-icon>
                                    </button>
                                    <b-dropdown-item aria-role="listitem" v-if="mode == 0" @click="aprobe(props.row.id)">Aprobar</b-dropdown-item>
                                    <b-dropdown-item aria-role="listitem" v-if="mode == 0" @click="reprobe(props.row.id)">Rechazar</b-dropdown-item>                            
                                </b-dropdown>
                            </b-table-column> 

                        </template> 
                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon
                                        icon="emoticon-sad"
                                        size="is-large">
                                    </b-icon>
                                </p>
                                <p>No hay datos en esta area.</p>
                            </div>
                        </section>
                    </template>                   
                </b-table>                                            
            </b-tabs>
        </b-tabs>
    </section>
</template>
<script>
export default {
    data(){
        return{
            //Variable para decir que si la lista es animal o asociado
            father:0,
            isPaginated: true,
            isPaginationSimple: false,
            paginationPosition: 'bottom',
            defaultSortDirection: 'asc',
            sortIcon: 'arrow-up',
            sortIconSize: 'is-small',
            currentPage: 1,
            perPage: 5,            
            mode:0,
            isLoading:false,
            lists:[],
            getColumms(){
                return [
                        {field:'refer',label:'Referencia',searchable: true},
                        {field:'amount',label:'Monto',searchable: true},
                        {field:'bank',label:'Banco',searchable: true},  
                    ]
            },
            getFieldAnimalOrMember(row){
                if(row.animal){
                    return "animal.name"
                }else if(row.partner){
                    return "partner.name"
                }
            },
            getTypeByFather(){
                if(this.father == 0){
                    return 'partner'
                }
                if(this.father == 1){
                    return 'animal'
                }
                if(this.father == 2){
                    return 'animal_request'
                }
            },
            getMode(){
                if(this.mode == 0){
                    if(this.father == 0){
                        return 'aprobe'
                    }else{
                        return 'revision'
                    }
                    
                }else if(this.mode == 1){
                    console.log("Father " + this.father)
                    if(this.father == 0){
                        return 'reprobe'
                    }else{
                        return 'aprobe'
                    }
                }else if(this.mode == 2){
                    return 'reprobe'
                }                
            }
        }
    },
    watch:{
        mode:function(val){
            if(val == 0){
                if(this.father == 0){
                    this.getList('reprobe',this.getTypeByFather())    
                }else{
                    this.getList('revision',this.getTypeByFather())
                }                
                
            }else if(val == 1){
                if(this.father == 0){
                    this.getList('reprobe',this.getTypeByFather())    
                }else{
                    this.getList('aprobe',this.getTypeByFather())
                }
                
            }else if(val == 2){
                this.getList('reprobe',this.getTypeByFather())
            }
        },
        father:function(val){
            if(val == 0){
                this.getList(this.getMode(),'partner');
            }else if(val == 1){
                this.getList(this.getMode(),'animal');
            }else if(val == 2){
                this.getList(this.getMode(),'animal_request');
            }
        }
    },
    methods:{
        aprobe(id){
            this.isLoading = true
            axios.get('/payments/status/aprobe/'+id)
            .then(response => {
                this.isLoading = false
                this.mode = 1
            })
            .catch(err => {
                alert("No se puede aprobar el pago")
            })
        },
        reprobe(id){
            this.isLoading = true;
            axios.get('/payments/status/reprobe/'+id)
            .then(response => {
                this.isLoading = false
                this.mode = 2
            })
            .catch(err => {
                alert("No se puede rechazar el pago")
            })
        },
        getList(status,father){
            this.isLoading = true
            axios.get('/payments/get/'+status+'/type/'+father)
            .then(response => {
                this.isLoading = false;
                this.lists = response.data;
            })
            .catch(err => {
                alert("No se pueden cargar los pagos")
            })
        }
    },
    mounted(){
        this.getList('aprobe','partner');
    }
}
</script>