<template>
    <section>
        <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
        <form @submit.prevent="update()">
            <div class="form-group">
                <label for="" class="control-label">Estado</label>
                <select name="" id="" class="form-control" v-model="form.state_id">
                    <option value="null">Seleccionar</option>
                    <option v-for="state in states" :key="state.id" :value="state.id">
                        {{state.name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Municipio</label>
                <select name="" id="" class="form-control" v-model="form.town_id">
                    <option value="null">Seleccionar</option>
                    <option v-for="town in towns" :key="town.id" :value="town.id">
                        {{town.name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Ciudad</label>
                <input type="text" v-model="form.city" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="control-label">Codigo postal</label>
                <input type="number" v-model="form.zip" class="form-control">
            </div>            
            <div class="form-group">
                <label for="" class="control-label">Direccion</label>
                <textarea name="" v-model="form.address" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-warning">
                    Actualizar
                </button>
            </div>
        </form>
    </section>
    

</template>

<script>
export default {
    data(){
        return{
            form:{
                state_id:null,
                town_id:null,
                city:'',
                zip:'',
                address:'',
                completed:true
            },
            isLoading:false,
            states:[],
            towns:[],
            id:0
        }
    },
    watch:{
        "form.state_id":function(val){
            this.getResource('town',val);
        }
    },
    methods:{
        getResource(mode,id){
            if(mode == 'state'){
                axios.get('/resources/states')
                .then(response => {
                    this.states = response.data;
                })
                .catch(err => {
                    alert("No se pueden cargar los estados")
                })
            }else if(mode == 'town'){
                axios.get('/resources/towns/'+id)
                .then(response => {
                    this.towns = response.data;
                })
                .catch(err => {
                    alert("No se pueden cargar los estados")
                })
            }

        },
        getInfo(){
            this.isLoading = true;
            axios.get('/partners/users/me')
            .then(response => {
                this.isLoading = false
                this.form = response.data;
                this.id = response.data.id;
            })
            .catch(err => {
                alert("No se puede consultar datos")
            })
        },
        update(){
            this.isLoading = true;
            this.form.completed = true;
            axios.put('/partners/users/'+this.id,this.form)
            .then(response => {
                this.getInfo();
                this.$swal({
                    type: 'success',
                    title: 'Datos actualizados correctamente',
                }); 
                location.reload()
            })
            .catch(err => {
                alert("No se puede actualizar el usuario");
            });
        }
    },
    mounted(){
        this.getInfo()
        this.getResource('state')
    }
}
</script>