<template>
    <section>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Usuarios Registrados</div>
                    <div class="card-body">
                        <h2 class="text-center">100</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Animales Registrados</div>
                    <div class="card-body">
                        <h2 class="text-center">400</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Pagos recibidos</div>
                    <div class="card-body">
                        <h2 class="text-center">500</h2>
                    </div>
                </div>
            </div>                        
        </div>
    </section>
</template>

<script>
export default {
    data(){
        return{

        }
    },
    methods:{

    },
    mounted(){

    }
}
</script>