<template>
    <div class="row">
        <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true"></b-loading>
        <div class="col-md-4">
            <form @submit.prevent="addOrUpdate()">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" v-model="form.name" name="name">
                    <span :style="verifyRace.verify == true ? 'color:#1abc9c;font-weight:bold;' : 'color:red;'">{{ verifyRace.message }}</span>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-success" v-if="!form.id" :disabled="!verifyRace.verify">
                        Guardar
                    </button>
                    <button class="btn btn-block btn-warning" v-if="form.id" :disabled="!verifyRace.verify">
                        Actualizar
                    </button>   
                    <button class="btn btn-block" v-if="form.id" @click="clean()">Cancelar</button>                 
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="list in lists" :key="list.id">
                            <td>{{list.name}}</td>
                            <td>
                                <b-dropdown aria-role="list">                                
                                    <button class="button is-primary" slot="trigger">
                                        <span>Acciones</span>
                                        <b-icon icon="menu-down"></b-icon>
                                    </button>    
                                    <b-dropdown-item aria-role="listitem" @click="getEdit(list)">Editar</b-dropdown-item>                                
                                    <b-dropdown-item aria-role="listitem" @click="remove(list.id)">Eliminar</b-dropdown-item>                                
                                </b-dropdown>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</template>

<script>
    export default{               
        data(){
            return {
                form:{
                    name:''
                },
                lists:[],
                isLoading:false,
                verifyRace:{
                    message:'',
                    verify:false
                },
                names:[]
            }
        },
        watch:{
            "form.name":function(val){
                // axios.post("/superAdmin/races/verify",{
                //     race:val
                // })
                // .then(response => {
                //     this.verifyRace = response.data
                // })
                // .catch(err => {
                //     console.log("Error")
                // });
                var valid = this.names.includes(val)
                if(!valid){
                    this.verifyRace.message = val+" Está disponible"
                    this.verifyRace.verify = true
                }else{
                    this.verifyRace.message = val+" No Está disponible"
                    this.verifyRace.verify = false                    
                }                
            }
        },
        methods:{
            getNames(){
                axios.get('/superAdmin/races/names')
                .then(response => {
                    this.names = response.data
                })
                .catch(err => {
                    console.log("No se puede cargar los nombres")
                })
            },
            clean(){
                this.form.name = ''
                this.form.id = null
                this.isLoading = false;
                this.getLists();
            },
            getLists(){
                this.isLoading = true
                this.getNames();
                axios.get('/superAdmin/races/get')
                .then(response => {
                    this.lists = response.data;
                    this.isLoading = false
                })
                .catch(err => {
                    this.isLoading = false
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                    });   
                })

            },
            getEdit(list){
                this.form = list;
            },
            addOrUpdate(){
                this.isLoading = true
                if(this.form.id){
                    axios.put('/superAdmin/races/'+this.form.id,this.form)
                    .then(response => {
                        this.clean();
                        this.$swal({
                            type: 'success',
                            title: 'Raza Actualizada con exito',
                        });                                                 
                    })
                    .catch(err => {
                        this.isLoading = false
                        this.$swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                        });                           
                    });
                }else{
                    axios.post('/superAdmin/races',this.form)
                    .then(response => {
                        this.clean();
                        this.$swal({
                            type: 'success',
                            title: 'Raza Guardada con exito',
                        });                                                 
                    })
                    .catch(err => {
                        this.isLoading = false
                        this.$swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                        });                           
                    });
                }
            },
            remove(id){
                this.isLoading = true
                axios.delete('/superAdmin/races/'+id)
                .then(response => {
                    this.clean();
                    this.$swal({
                        type: 'success',
                        title: 'Raza eliminada con exito',
                    });                         
                })
                .catch(err => {
                    this.isLoading = false
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Hay un error en la consulta de datos, por favor intentarlo más tarde',
                    });                        
                })
            }
        },
        mounted(){
            this.getLists();
        }
    }
</script>